{% extends 'base.html.twig' %}

{% block title %}Livre d'or{% endblock %}

{% block body %}
    <h1 class="h3 mb-3 font-weight-bold formular-title d-flex justify-content-center align-items-center">Livre d'or</h1>
    <h4 class="h3 mb-3 font-weight-bold formular-title d-flex justify-content-center align-items-center">Ce sont eux qui en parlent le mieux</h4>
    <div class="block-comment row d-flex flex-column justify-content-center">
        <ul class="">
            {% for comment in comments %}
                <hr>
                <section class="py-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 mx-auto">
                                <blockquote class="blockquote blockquote-custom bg-white p-5 shadow rounded">
                                    <div class="blockquote-custom-icon bg-info shadow-sm"><i class="fa fa-quote-left text-white"></i></div>
                                    <p class="mb-0 mt-2 font-italic">{{ comment.description }}</p>
                                    <footer class="blockquote-footer pt-4 mt-4 border-top">
                                        Message de {{ comment.author.firstname}} {{ comment.author.lastname}} le {{ comment.datetime |date("m/d/Y")}}
                                    </footer>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </section>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
