{% extends 'base.html.twig' %}

{% block title %}Dev'Maniak{% endblock %}

{% block body %}

<div class="container">
    <div class="row vide">
    </div>
    <div class="block-noms-liens col-8">
        <img class="avatar" src="{{ asset('build/images/avatar.png') }}">
    </div>
    <div class="row vide">
    </div>
</div>

{% endblock %}
