{% extends 'base.html.twig' %}

{% block title %}Portefolio{% endblock %}

{% block body %}
    <h1 class="h3 mb-3 font-weight-bold formular-title d-flex justify-content-center align-items-center">Voici tout mes projets réunis</h1>

<div class="container my-5">
<div class="carousel-container position-relative row">
  
<!-- Sorry! Lightbox doesn't work - yet. -->
  
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-slide-number="0">
      <img src="https://i.ibb.co/S01k7b5/amazon.png" class="d-block w-100" alt="..." data-remote="https://i.ibb.co/S01k7b5/amazon.png" data-type="image" data-toggle="lightbox" data-gallery="example-gallery">
    </div>
    <div class="carousel-item" data-slide-number="1">
      <img src="https://i.ibb.co/Lx4dLGR/bnb.png" class="d-block w-100" alt="..." data-remote="https://i.ibb.co/Lx4dLGR/bnb.png" data-type="image" data-toggle="lightbox" data-gallery="example-gallery">
    </div>
    <div class="carousel-item" data-slide-number="2">
      <img src="https://i.ibb.co/WPnpDSF/cdiscount.png" class="d-block w-100" alt="..." data-remote="https://i.ibb.co/WPnpDSF/cdiscount.png" data-type="image" data-toggle="lightbox" data-gallery="example-gallery">
    </div>
    <div class="carousel-item" data-slide-number="3">
      <img src="https://i.ibb.co/44Fv0WX/deliveroo.png" class="d-block w-100" alt="..." data-remote="https://i.ibb.co/44Fv0WX/deliveroo.png" data-type="image" data-toggle="lightbox" data-gallery="example-gallery">
    </div>
    <div class="carousel-item" data-slide-number="4">
      <img src="https://i.ibb.co/vzSxF1b/hermes.png/1600x900/" class="d-block w-100" alt="..." data-remote="https://i.ibb.co/vzSxF1b/hermes.png" data-type="image" data-toggle="lightbox" data-gallery="example-gallery">
    </div>
    <div class="carousel-item" data-slide-number="5">
      <img src="https://i.ibb.co/syZy0gj/prada.png/1600x900/" class="d-block w-100" alt="..." data-remote="https://i.ibb.co/syZy0gj/prada.png" data-type="image" data-toggle="lightbox" data-gallery="example-gallery">
    </div>
    <div class="carousel-item" data-slide-number="6">
      <img src="https://i.ibb.co/JBnxLXD/leroymerlin.png/1600x900/" class="d-block w-100" alt="..." data-remote="https://i.ibb.co/JBnxLXD/leroymerlin.png" data-type="image" data-toggle="lightbox" data-gallery="example-gallery">
    </div>
    <div class="carousel-item" data-slide-number="7">
      <img src="https://i.ibb.co/gyVWJYf/macdo.png/1600x900/" class="d-block w-100" alt="..." data-remote="https://i.ibb.co/gyVWJYf/macdo.png" data-type="image" data-toggle="lightbox" data-gallery="example-gallery">
    </div>
    <div class="carousel-item" data-slide-number="8">
      <img src="https://i.ibb.co/7rLqmb1/wild.png/1600x900/" class="d-block w-100" alt="..." data-remote="https://i.ibb.co/7rLqmb1/wild.png" data-type="image" data-toggle="lightbox" data-gallery="example-gallery">
    </div>
    <div class="carousel-item" data-slide-number="9">
      <img src="https://i.ibb.co/Y369vmW/orators.png/1600x900/" class="d-block w-100" alt="..." data-remote="https://i.ibb.co/Y369vmW/orators.png" data-type="image" data-toggle="lightbox" data-gallery="example-gallery">
    </div>
  </div>
</div>

<!-- Carousel Navigation -->
<div id="carousel-thumbs" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row mx-0">
        <div id="carousel-selector-0" class="thumb col-4 col-sm-2 px-1 py-2 selected" data-target="#myCarousel" data-slide-to="0">
          <img src="https://i.ibb.co/S01k7b5/amazon.png/600x400/" class="img-fluid" alt="...">
        </div>
        <div id="carousel-selector-1" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel" data-slide-to="1">
          <img src="https://i.ibb.co/Lx4dLGR/bnb.png/600x400/" class="img-fluid" alt="...">
        </div>
        <div id="carousel-selector-2" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel" data-slide-to="2">
          <img src="https://i.ibb.co/WPnpDSF/cdiscount.png/600x400/" class="img-fluid" alt="...">
        </div>
        <div id="carousel-selector-3" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel" data-slide-to="3">
          <img src="https://i.ibb.co/44Fv0WX/deliveroo.png/600x400/" class="img-fluid" alt="...">
        </div>
        <div id="carousel-selector-4" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel" data-slide-to="4">
          <img src="https://i.ibb.co/vzSxF1b/hermes.png/600x400/" class="img-fluid" alt="...">
        </div>
        <div id="carousel-selector-5" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel" data-slide-to="5">
          <img src="https://i.ibb.co/syZy0gj/prada.png/600x400/" class="img-fluid" alt="...">
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row mx-0">
        <div id="carousel-selector-6" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel" data-slide-to="6">
          <img src="https://i.ibb.co/JBnxLXD/leroymerlin.png/600x400/" class="img-fluid" alt="...">
        </div>
        <div id="carousel-selector-7" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel" data-slide-to="7">
          <img src="https://i.ibb.co/gyVWJYf/macdo.png/600x400/" class="img-fluid" alt="...">
        </div>
        <div id="carousel-selector-8" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel" data-slide-to="8">
          <img src="https://i.ibb.co/7rLqmb1/wild.png/600x400/" class="img-fluid" alt="...">
        </div>
        <div id="carousel-selector-9" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel" data-slide-to="9">
          <img src="https://i.ibb.co/Y369vmW/orators.png/600x400/" class="img-fluid" alt="...">
        </div>
        <div class="col-2 px-1 py-2"></div>
        <div class="col-2 px-1 py-2"></div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carousel-thumbs" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel-thumbs" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

</div> <!-- /row -->
</div> <!-- /container -->
{% endblock %}
