@import 'variables.scss';
@import "~bootstrap/scss/bootstrap";
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Londrina+Solid:wght@100&display=swap');

body {
    background-color: $primary-color;
    color: $text-color;
    font-family: 'Londrina Solid', cursive;
    font-weight: bold;
    font-size: 1.5em;
}

.navbar-brand {
    font-size: 2em;
    font-weight: bold;
}

a, a:hover {
    text-decoration: none;
    color: $text-color;
    font-weight: bold;

}

.btn {
    color: $text-color;
    font-weight: bold;
}

.technogood {
    border-radius: 1em;
    width: 7em;
    background: linear-gradient(to right, green 80%, red);
    color: black;
}
.technomedium {
    border-radius: 1em;
    width: 7em;
    background: linear-gradient(to right, green 50%, red);
    color: black;
}
.technolow {
    border-radius: 1em;
    width: 7em;
    background: linear-gradient(to right, green 20%, red);
    color: black;
}

.underline {
    text-decoration: underline;
}

.suppress {
    width: 1em;
}

// Header //

.navbar {
    transition: all 0.4s;
}

.navbar .nav-link {
    color: $text-color;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: $text-color;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: $text-color;
}	


/* Change navbar styling on scroll */
.navbar.active {
    background: $primary-color;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: $text-color;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #555;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: $primary-color;
}

.logo-connexion {
    width: 2em;
}

.logo-deconnexion {
    width: 2em;
}

/* Change navbar styling on small viewports */

@media (max-width: 991.98px) {
    .navbar {
        background: $card-color;
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: #555;
    }
}

// Connection //

.formular-title {
    font-size: 2rem;
    height: 3rem;
}

.firstname-user {
    text-decoration: underline;
}

// Index //


.block-noms-liens, .block-course, .block-objective {
    background-color: $card-color;
    min-width: 80%;
    min-height: 300px;
}

.block-course {
    align-self: end;
}

.avatar, .laptop, .target {
    width: 100%;
    height: 80%;
}

.vide {
    height: 5em;
}

.firstname-lastname {
    font-size : 3rem;
}

.job-title {
    font-size : 2rem;
}

.link-network {
    width: 2rem;
}

.course, .objectives{
    font-size: 1.5rem;
}

.course-title {
    text-decoration: underline;
}

@media screen and (max-width: 995px) {
    .block-noms-liens, .block-course, .block-objective {
        flex-direction: column;
    }
}

ul {
    list-style: none;
}

// Guestbook //

.blockquote-custom {
    position: relative;
    font-size: 1.1rem;
    }

    .blockquote-custom-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -25px;
    left: 50px;
    }

// Portfolio //

carousel {
    position: relative;
  }
  .carousel-item img {
    object-fit: cover;
  }
  #carousel-thumbs {
    background: rgba(255,255,255,.3);
    bottom: 0;
    left: 0;
    padding: 0 50px;
    right: 0;
  }
  #carousel-thumbs img {
    border: 5px solid transparent;
    cursor: pointer;
  }
  #carousel-thumbs img:hover {
    border-color: rgba(255,255,255,.3);
  }
  #carousel-thumbs .selected img {
    border-color: #fff;
  }
  .carousel-control-prev,
  .carousel-control-next {
    width: 50px;
  }
  @media all and (max-width: 767px) {
    .carousel-container #carousel-thumbs img {
      border-width: 3px;
    }
  }
  @media all and (min-width: 576px) {
    .carousel-container #carousel-thumbs {
      position: absolute;
    }
  }
  @media all and (max-width: 576px) {
    .carousel-container #carousel-thumbs {
      background: #ccccce;
    }
  }